<a href="https://colab.research.google.com/github/philipjpark/Car-Sample35/blob/main/UploadingAndProcessingDataAndListComprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [94]:
df = pd.read_csv("https://raw.githubusercontent.com/philipjpark/Car-Sample35/main/cars-sample35.txt")
df.head()

    high high.1  2     4    med   low  unacc
0   high   high  4  more  small  high    acc
1   high   high  4  more    big   low  unacc
2   high    low  2  more    big  high    acc
3  vhigh    low  3     2    med   med  unacc
4    low   high  2     2  small   low  unacc

### #1
__Analysis__: I used the __rename__ method to replace the previous headers with appropriately matching ones.

In [96]:
df.rename({'high': 'Price', 'high.1': 'Maintenance cost', '2': 'Number of doors', '4': 'Number of passengers', 'med': 'Luggage capacity', 'low': 'Safety rating', 'unacc': 'Classification of vehicle'}, axis=1, inplace=True)

df

,Price,Maintenance cost,Number of doors,Number of passengers,Luggage capacity,Safety rating,Classification of vehicle
0,high,high,4,more,small,high,acc
1,high,high,4,more,big,low,unacc
2,high,low,2,more,big,high,acc
3,vhigh,low,3,2,med,med,unacc
4,low,high,2,2,small,low,unacc
5,med,med,4,more,med,high,vgood
6,low,low,3,2,big,med,unacc
7,vhigh,low,2,2,small,low,unacc
8,vhigh,high,4,4,med,low,unacc
9,low,low,2,2,med,med,unacc
10,vhigh,low,4,more,small,high,acc
11,high,low,2,4,big,med,acc
12,low,vhigh,3,more,big,low,unacc
13,high,low,5more,2,big,med,unacc
14,vhigh,high,2,more,med,high,unacc
15,med,med,2,2,small,low,unacc
16,high,low,5more,4,med,high,acc
17,low,low,3,more,med,high,vgood
18,low,low,2,2,big,med,unacc
19,med,high,4,2,big,high,unacc
20,low,low,2,2,small,high,unacc
21,vhigh,high,5more,4,med,med,unacc
22,med,vhigh,2,2,big,low,unacc
23,low,vhigh,4,4,big,low,unacc
24,vhigh,low,3,more,big,low,unacc
25,med,vhigh,3,4,small,low,unacc
26,high,high,3,4,med,med,unacc
27,low,high,5more,2,big,low,unacc
28,med,high,5more,2,med,med,unacc
29,high,low,3,4,med,high,acc
30,high,vhigh,5more,4,med,med,unacc
31,low,low,5more,2,med,low,unacc
32,vhigh,vhigh,4,2,big,high,unacc
33,high,low,3,2,big,high,unacc

### #2

__Analysis__: I set variables and assigned them with the specific columns of the dataframes. In total there are 7 variables I assigned that correspond to all of the newly formed headers.

In [97]:
price = df['Price']
maintenance= df['Maintenance cost']
numDoors = df['Number of doors']
numPassengers = df['Number of passengers']
luggage = df['Luggage capacity']
safety = df['Safety rating']
classify = df['Classification of vehicle']

maintenance
numDoors

0         4
1         4
2         2
3         3
4         2
5         4
6         3
7         2
8         4
9         2
10        4
11        2
12        3
13    5more
14        2
15        2
16    5more
17        3
18        2
19        4
20        2
21    5more
22        2
23        4
24        3
25        3
26        3
27    5more
28    5more
29        3
30    5more
31    5more
32        4
33        3
Name: Number of doors, dtype: object

### #3

I used a resource for this code that helps with the implementation of the __.loc__ property. 

__Resource__: https://stackoverflow.com/questions/53587315/pandas-find-specific-value-in-entire-dataframe

__Analysis__: The code locates the column in which the *Price* value is med and then specifically I needed to print the indices. To be able to solve the problem, I need to be able to print only the indices. The next step is to figure out how to print only the indices of these values.

In [98]:
medPrice = df.loc[df['Price']=='med']
medPrice = medPrice['Price']
medPrice

5     med
15    med
19    med
22    med
25    med
28    med
Name: Price, dtype: object

### #4

__Analysis__: The code locates the column in which the *Price* value is med and then specifically I needed to print the *Number of passengers* column that satisfies this condition. The __.loc__ property seems to be very useful and thus I will continue my studies to better utilize this specific property.

In [99]:
numOfPass = df.loc[df['Price']=='med']
numOfPass = numOfPass['Number of passengers']
numOfPass

5     more
15       2
19       2
22       2
25       4
28       2
Name: Number of passengers, dtype: object

### #5

__Analysis__: The code locates the column in which the *Price* is high and where the *Maintenance* cost is very high, high, or med. I could have used the != ("not equal to") operator but for some reason the code was not running. I will refactor the code.

In [100]:
highPriceAndNotLowMain = df.loc[(df['Price'] == 'high') & ((df['Maintenance cost'] == 'vhigh') | (df['Maintenance cost'] == 'high') | (df['Maintenance cost'] == 'med')) ]  
highPriceAndNotLowMain

,Price,Maintenance cost,Number of doors,Number of passengers,Luggage capacity,Safety rating,Classification of vehicle
0,high,high,4,more,small,high,acc
1,high,high,4,more,big,low,unacc
26,high,high,3,4,med,med,unacc
30,high,vhigh,5more,4,med,med,unacc

### #6

__Analysis__: The code locates the column in which the *Price* value is med and then specifically I needed to print the indices. To be able to solve the problem, I need to be able to print only the indices. The next step is to figure out how to print only the indices of these values. 

Also, I am supposed to use a list comprehension but to be honest, it is hard for me to distinguish the explicit properties that constitute a list comprehension as opposed to other strategies. This requires *upskilling* and *upstudying*; which I will continually partake in.

In [101]:
mediumPrice = df.loc[df['Price']=='med']
mediumPrice

,Price,Maintenance cost,Number of doors,Number of passengers,Luggage capacity,Safety rating,Classification of vehicle
5,med,med,4,more,med,high,vgood
15,med,med,2,2,small,low,unacc
19,med,high,4,2,big,high,unacc
22,med,vhigh,2,2,big,low,unacc
25,med,vhigh,3,4,small,low,unacc
28,med,high,5more,2,med,med,unacc

### #7

__Analysis__: The code locates the column in which the *Price* value is med and then specifically I needed to print the *Number of passengers* column that satisfies this condition. The __.loc__ property seems to be very useful and thus I will continue my studies to better utilize this specific property.

Also, I am supposed to use a list comprehension but to be honest, it is hard for me to distinguish the explicit properties that constitute a list comprehension as opposed to other strategies. This requires *upskilling* and *upstudying*; which I will continually partake in.

In [102]:
numOfPass = df.loc[df['Price']=='med']
numOfPass = numOfPass['Number of passengers']
numOfPass

5     more
15       2
19       2
22       2
25       4
28       2
Name: Number of passengers, dtype: object

### #8 

__Analysis__: The code locates the column in which the *Price* is high and where the *Maintenance* cost is very high, high, or med. I could have used the != ("not equal to") operator but for some reason the code was not running. I will refactor the code. 

Also, I am supposed to use a list comprehension but to be honest, it is hard for me to distinguish the explicit properties that constitute a list comprehension as opposed to other strategies. This requires *upskilling* and *upstudying*; which I will continually partake in.

In [103]:
highPriceAndNotLowMain = df.loc[(df['Price'] == 'high') & ((df['Maintenance cost'] == 'vhigh') | (df['Maintenance cost'] == 'high') | (df['Maintenance cost'] == 'med')) ]  
highPriceAndNotLowMain

,Price,Maintenance cost,Number of doors,Number of passengers,Luggage capacity,Safety rating,Classification of vehicle
0,high,high,4,more,small,high,acc
1,high,high,4,more,big,low,unacc
26,high,high,3,4,med,med,unacc
30,high,vhigh,5more,4,med,med,unacc


### Nested List Comprehension #1

I used a resource for this code that extracts elements for a nested list.
 
__Resource__: https://stackoverflow.com/questions/8327856/how-to-extract-nested-lists


__Analysis__: I can see that it looks through the nested list and then prints each element as it iterates through the elements of each sub-list.

In [104]:
nlist= [[1,2,3], ['A','B','C'], [4,5], ['D','E']]
newList = [x for y in nlist for x in y]
newList

[1, 2, 3, 'A', 'B', 'C', 4, 5, 'D', 'E']